<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dexih.Utils.CopyProperties" version="1.0.97" targetFramework="net462" />
  <package id="DockPanelSuite" version="3.1.0" targetFramework="net462" />
  <package id="DockPanelSuite.ThemeVS2005" version="3.1.0" targetFramework="net462" />
  <package id="DotNetZip" version="1.15.0" targetFramework="net462" />
  <package id="Equin.ApplicationFramework.BindingListView" version="1.4.5222.35545" targetFramework="net462" />
  <package id="ESCPOS_NET" version="2.0.0" targetFramework="net462" />
  <package id="ExceptionReporter" version="5.0.0" targetFramework="net462" />
  <package id="Handlebars.Net" version="1.9.0" targetFramework="net462" />
  <package id="Magick.NET.Core" version="11.1.0" targetFramework="net462" />
  <package id="Magick.NET-Q16-AnyCPU" version="11.1.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net462" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net462" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net462" />
  <package id="QRCoder" version="1.4.3" targetFramework="net462" />
  <package id="Simple-MAPI.NET" version="1.2.0" targetFramework="net462" />
  <package id="SixLabors.ImageSharp" version="1.0.0" targetFramework="net462" />
  <package id="SuperSimpleTcp" version="2.4.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net462" />
  <package id="System.IO.Ports" version="4.6.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection.TypeExtensions" version="4.6.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net462" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>